.home {
  width: 100%;
  padding: 2rem 0;
  background: url("../../images/stars.svg"), #1b1b25;
  background-repeat: repeat;
}
.home__container {
  display: flex;
  align-items: center;
  margin: 80px;
}
.img-conf {
  margin: 30px 0;
}
.home-description {
  color: #ffff;
  margin: 0 50px;
}
.titulo-conf {
  font-weight: 800;
}
.parrafo-conf {
  width: 80%;
}
.home-conf-logo {
  height: 400px;
}
.home__buttons {
  display: flex;
  justify-content: center;
}
.btn-primary {
  font-size: 16px;
}
