.Badge_prueba {
  align-items: center;
  color: #070707;
  margin-left: 15px;
  font-size: 14px;
  min-width: 200px;
  max-width: 200px;
}
.BadgeList__section-name {
  display: flex;
  align-items: center;
}
.list-group-item {
  display: flex;
  margin: 5px;
  border-radius: 5px;
  box-shadow: rgb(43 39 39 / 20%) 2px 2px 2px 1px;
}
.twitter_blue_font {
  color: #38a1f3;
  margin-bottom: 2px;
}
.container-icon-edit {
  position: relative;
  left: 165px;
  top: -11px;
  color: #7e8486;
  font-size: 16.5px;
}

summary::-webkit-details-marker {
  display: none;
}
